{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-10 mx-auto'>
      <h3>Добавить пункт меню</h3><hr>
      <form method='post' action='{{url_for("add_menu")}}'>
        <div class='form-group'>
          <label>Название</label>
          <input type='text' name='name' required class='form-control'>
        </div>
        <div class='form-group'>
          <label>Url</label>
          <input type='text' name='url' required class='form-control'>
        </div>
        <div class='form-group'>
          <label>Answer</label>
          <textarea name='answer' cols="40" rows="5" required class='form-control'></textarea>
        </div>
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    
    </div>
  </div>
{% endblock %}